{% extends "base.html" %}
{% block start %}
<style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
      font-family: arial;
    }
    
    .title {
      color: grey;
      font-size: 18px;
    }
    
    button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }
    
    a {
      text-decoration: none;
      font-size: 22px;
      color: black;
    }
    
    button:hover, a:hover {
      opacity: 0.7;
    }
    </style>

<div class="card">
    <img src="/static/pic/pic.png/" alt="John" style="width:100%">
    <!-- <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="">Upload Profile Pic</label>
    <input type="file" name="img">
    <button type="submit" class="btn btn-danger">Update</button>
    </form> -->
  {% if request.user.is_authenticated %}
  <h1>{{request.user.first_name}} {{request.user.last_name}}</h1>
  <p class="title">Username:{{request.user.username}}</p>
  <p>{{request.user.email}}</p>
  <div style="margin: 24px 0;">
    <!-- <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
  </div> -->
  <p>
    <button>     
        <a class="btn btn-outline-success my-2 my-sm-0" href="/logoutPage/">Log Out</a>
    {% else %}
        <a class="btn btn-outline-success my-2 my-sm-0" href="/log/">Log In</a></button></p>
  {% endif %}
</div>
    
{% endblock %}